.review {
   display: grid;
   grid-template-columns: [start] 30px 1fr auto auto [end];
   gap: 10px;
   align-items: center;

   font-size: 14px;
   font-weight: 400;
}

.name {
   font-weight: 700;
   line-height: 24px;
}

.date {
   margin-right: 10px;
}

.description {
   grid-column: start / end;
   line-height: 24px;
}

@media (max-width: 600px) {
   .review {
      grid-template-columns: [start] 30px 1fr [end];
   }

   .date,
   .rating {
      grid-column: start / end;
   }
}
