.search {
   position: relative;
}

.btn {
   position: absolute;
   right: 0px;
   top: 0;
   width: 31px;
   height: 32px;
   padding: 8px;
}

.input {
   height: 36px;
}

.input input {
   width: 100%;
}
