.sort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 43px;
    justify-self: flex-end;
}

.sort span {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.sortIcon {
    display: none;
}

.active .sortIcon {
    display: inline-block;
    margin-right: 8px;
}

.sort span.active {
    color: var(--primary);
    font-weight: 700;
}

@media (max-width: 765px) {
    .sort {
        justify-self: flex-start;
    }
}